/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-my-first-block {
	border: 1px dotted #f00;
}

.href-a {
	text-decoration: none;
}
.social-icons {
	display: flex;
	justify-content: space-between;
}

// .svg-tag {
// 	width: "100px";
// 	height: "100px";
// }
