/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

$start-color: green;
$end-color: red;

h1.gtg-demo-h1 {
	background: linear-gradient(to bottom, $start-color, $end-color);
}
